body {
    margin: 0;
}

nav {
    background-color: rgb(249, 204, 122);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

li{
    padding: 1.0em;
}

li:hover{
    background-color: orange;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: larger;
    color: black;
}
