body {
    margin: 0;
}

nav {
    background-color: rgb(249, 204, 122);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

li {

}